.ggextraemote
{
	padding: 5px;
	cursor: pointer;
}
.ggextraemote:hover
{
	background-color: rgba(255, 255, 255, 0.2);
	cursor: pointer;
}
divforemote img.smile
{
	margin-left: 5px;
	margin-right: 5px; 
}
.ggextraemote_in_input
{
	margin-left: 5px;
	margin-right: 5px; 
}
